body {
  position: relative;
  font-family: "Baskervville", serif;
}

.p {
  font-family: "Montserrat";
}

button {
  font-family: "Baskervville", serif;
  margin-right: 10px;
  border: 1px solid #5e4a49;
  padding: 24px 32px;
  background-color: transparent;
  color: #5e4a49;
  cursor: pointer;
  font-size: 20px;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}
.image-container {
  position: relative;
}

#rectangle {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: 1px solid #e3b6b1;
  z-index: -1000;
}
#top_information {
  width: 50%;
  padding-left: 50px;
}

.button-image-container {
  display: flex;
  align-items: center;
  button {
    margin-right: 10px;
    border: 1px solid #725a51;
    padding: 24px 32px;
    background-color: transparent;
    color: #725a51;
    cursor: pointer;
  }
  img {
    margin-left: 40px;
  }
}
.line-with-text {
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 20px 100px;
}

.line-text {
  position: relative;
  display: inline-block;
  background: white;
  padding: 0 10px;
  top: 0.5em;
}

#logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 250px;
}

.logo {
  width: 23%;
  margin-bottom: 20px;
  fill: #a3a3a3;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;

  h1 {
    font-size: 80px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #5e4a49;
  }
  hr {
    border: none;
    width: 20%;
    border-top: 1px solid #e3b6b1;
    margin: 20px 0;
  }
  p {
    margin: 30px 200px;
    width: 437px;
  }
}

.works {
  background-color: #fae9e7;

  #works {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #works img {
    margin: 10px;
    height: 350px;
  }

  #QuotationMark img {
    margin: 30px 0px;
  }

  #testimonials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex-flow: column;
  }

  #testimonials {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .testimonial {
    flex: 0 0 100%;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }

  .arrow {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    z-index: 1;
  }
}

.styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}

.image-container {
  position: relative;
  width: fit-content; /* 必要に応じて調整 */
  max-width: 100%; /* 必要に応じて調整 */
  // display: inline-block;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}
.overlay-text {
  position: absolute;
  top: 70%;
  left: -15%;
  color: #fae9e7;
  font-size: 4rem;
}
.first-letter {
  color: #b99692;
}

#rectangle2 {
  position: absolute;
  top: -5%;
  left: 5%;
  width: 100%;
  max-width: 387px;
  height: 100%;
  background-color: transparent;
  border: 1px solid #e3b6b1;
  z-index: -1000;
}

.makeup101 {
  background-color: #fae9e7;
}
