@import "portfolio-partials/header";
@import "portfolio-partials/main";
@import "portfolio-partials/footer";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f8f6f4;
}