@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand-color: #191919;
    --bold-main-color: #725A58;
    --accent-color: #E3B6B1;
    --light-pink: #FAE9E7;
    --pale-white: #F8F6F4;
    --paper-white: #FBFAFA;
    --mid-grey: #A3A3A3;
    --dark-grey: #535353;
    --black: #191919;
    --dark-pink: #B99692;
    --brown: #A06D67;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Montserrat", serif;
    font-size: 18px;
}