main {
    width: 100%;

    .message {
        position: relative;
        a {
            position: fixed;
            right: 0;
            top: 10vw;
        }
    }

    .heading {
        text-align: center;

        h1 {
            margin: 0 auto;
            font-size: 80px;
            color: #725a58;
            letter-spacing: 13px;
            font-family: "Baskervville", serif;
            font-weight: 400;
            width: 100%;
        }

        .line {
            border: 1px solid #e3b6b1;
            width: 200px;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
        }

        p {
            width: 40.63vw;
            min-width: 328px;
            height: 3.75vw;   
            min-height: 78px;
            margin: 10px auto;
            color: #191919;
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
        }
    }

    .portfolio_container {
        background-color: #fae9e7;
        padding-top: 40px;
        padding-bottom: 100px;
        width: 100%;
    
        .btn_container {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;

            .btn {
                background-color: transparent;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid black;
                cursor: pointer;
                font-size: max(2.22vw, 24px);
                font-family: "Baskervville", serif;
                width: 16.81vw;
                min-width: 140px;
                height: 3.68vw;
                min-height: 48px;
                padding-bottom: 10px;
                text-align: center;
            }

            .gray {
                color: #a3a3a3;
                border-color: #a3a3a3;
                transition: all 0.3 ease;
            }
        }

        .photo_container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1vw;
            place-content: center;
            margin: 0 10vw;

            .makeup_container {
                position: relative;

                .makeup_image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                }

                .minilogo {
                    position: absolute;
                    bottom: 0;
                    right: -5px;
                    z-index: 999;
                    width: 7.36vw;
                }

                .hairstyle_image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;

                    &.back {
                        opacity: 0;
                    }
                }
            }
        }
        
        .vm_container {
            display: flex;
            justify-content: center;
            margin-top: 70px;

            .vm_btn {
                width: 161px;
                height: 62px;
                font-size: 20px;
                color: #725a58;
                background-color: transparent;
                border: 1px solid #725a58;
                cursor: pointer;
                font-family: "Baskervville", serif;
            }
        }
    }
    
}