@media screen and (max-width: 768px) {
    .message {
        display: none;
    }

    .portfolio_container {
        .photo_container {
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)) !important;
            grid-template-rows: repeat(2, minmax(auto, 1fr)) !important;

            .minilogo {
                width: 30% !important;
            }

            :nth-child(n+5) {
                display: none;
            }
        }
    }
}
